<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#9f7aea"/>
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">
  <title>Pawonku</title>
</head>

<body>
  <skip-to-content></skip-to-content>
  <header>
    <app-header></app-header>
  </header>
  <main>

  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</body>

</html>